.center-text{
    text-align: center;
}

.center-table{
    display:inline-block
}

.calendar-table{
    border: .1rem solid;
    border-collapse: collapse;
}

.calendar_weekday_cell{
    width: 10rem;
    height: 3rem;
}

.calendar_day_cell{
    height:5rem;
}

.top-left{
    position: relative;
    text-align: left;
    z-index: 0;
    margin:0px;
    padding: 0px;
}

.top-left-corner{
    position:absolute;
    text-align: left;
    z-index: 0;
    left:0px;
    top:0px;
    margin:0px;
    padding: 0px;

}

.schedule_button{
    position: relative;
    z-index:1
}