.hidden_query{
    display:none;

}
.shown_query{
    visibility: visible;
    position: relative;
    background-color: aliceblue;
    width: 100%;
    border: .5rem;
    border-style: groove;
}

.bottom_query_div{
    /* position:absolute; */
    /* float:left */
}

.zip_code{
    font-size: xx-large;}

.upper_parlour_button{
    border:solid black;
    font-size: x-large;
    background-color: bisque;
    width:100%;
}
.upper_parlour_button:hover{
    border:solid black;
    font-size: x-large;
    cursor: pointer;
    background-color: rgb(229, 191, 145);
    width:100%;
}